# Integration testing database configuration
DATABASE_URL="postgresql://lab:lab@localhost:port/name
SHADOW_DATABASE_URL="postgresql://lab:lab@localhost:port/name_shadow"
PRISMA_CLIENT_LOG_LEVEL="error"